doctype html
html

  head
    title= title
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')

  body
      .navbar-fixed-top(role='navigation')
      ul.nav.nav-tabs.pull-right
        li.active
          a(href="#") main page
        li
          a(href="#") lianjie
        li
          a(href="#") snihao


